cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
numpy==2.0.2
pandas==2.2.3
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==11.0.0
pycparser==2.22
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
tzdata==2024.2
